<div (change)="calculateFeesOnCapital()" [formGroup]="investmentForm" class="container py-5"
     [ngClass]="{'fade': !fadeEffect, 'fade-out': fadeEffect}">
  <h1 class="text-center fw-bold mb-4" i18n>{{ 'WATCH_FEES' | translate }}
    <div class="flag-toggle d-inline-block ms-3">
      <button (click)="setFlag('us')" [disabled]="currentFlag === americanFlag" class="btn btn-sm btn-outline-primary">
        <img src="assets/us-flag.png" alt="American Flag" class="flag-icon"
             [class.disabled]="currentFlag !== americanFlag"/>
      </button>
      <button (click)="setFlag('it')" [disabled]="currentFlag === italianFlag" class="btn btn-sm btn-outline-primary">
        <img src="assets/it-flag.png" alt="Italian Flag" class="flag-icon"
             [class.disabled]="currentFlag !== italianFlag"/>
      </button>
    </div>
  </h1>

  <div class="row g-3">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <label
        class="form-label"
        for="capitaleIniziale">
        {{ 'INVESTED_CAPITAL_LABEL' | translate: {currencySymbol: getCurrencySymbol()} }}
      </label>
      <input
        id="capitaleIniziale"
        class="form-control"
        formControlName="capitaleIniziale"
        type="number">
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <label class="form-label" for="anni">{{ 'INVESTMENT_PERIOD_LABEL' | translate }}</label>
      <input id="anni" class="form-control" formControlName="anni" type="number">
    </div>

    <div class="col-xs-12 col-md-6 col-lg-3">
      <label class="form-label" for="rendimentoAnnuo">{{ 'YEARLY_PERFORMANCE_LABEL' | translate }}</label>
      <input id="rendimentoAnnuo" class="form-control" formControlName="rendimentoAnnuo" type="number">
    </div>

    <div class="col-xs-12 col-md-6 col-lg-3">
      <label class="form-label" for="speseAnnue">{{ 'FEES_LABEL' | translate }}</label>
      <input id="speseAnnue" class="form-control" formControlName="speseAnnue" type="number">
    </div>
  </div>

  <div class="mt-5">
    <canvas id="investmentChart"></canvas>
  </div>
  <div id="custom-tooltip" class="custom-tooltip" [ngClass]="isMobile ? 'custom-tooltip-mobile' :''"
       style="opacity: 0; position: absolute; pointer-events: none;"></div>

  <!-- Output -->
  <div class="mt-5 text-center">
    <h2 class="fw-bold">{{
        'FEE_RATE_MESSAGE' | translate: {
          feeRate: investmentForm.value?.speseAnnue  | number:'1.2-2',
          capital: investmentForm.value?.capitaleIniziale  | number:'1.2-2',
          years: yearsToDoubleCapitalInExpenses(),
          currencySymbol: getCurrencySymbol()
        }
      }}</h2>
  </div>
</div>


<!--<a href="https://www.flaticon.com/free-icons/minimal" title="minimal icons">Minimal icons created by Sudowoodo - -->
<!--  Flaticon</a>-->
<!--<a href="https://www.flaticon.com/free-icons/italy" title="italy icons">Italy icons created by Sudowoodo - -->
<!--  Flaticon</a>-->
